#container{
    background-color:rgb(192, 207, 231);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:30px;
    color:rgb(23, 22, 70);
    border: 4px solid rgb(23, 22, 70);
    border-radius: 25px;
    padding:20px;
    margin:50px;
    line-height:1.5;
}

h1{
    text-align:center;
}

#animate{
    position:relative;
    left:-2000px;
    width:fit-content;
    border: 4px solid rgb(23, 22, 70);
    border-radius: 25px;
    padding:20px;
    margin:50px;
    line-height:1.5;
}

#show, #display{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 10px;
    margin:10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(192, 207, 231);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(23, 22, 70);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 20px;
}

#show:hover, #display:hover{
    background-color:rgb(23, 22, 70);
    color:rgb(192, 207, 231);
    border: solid 3px rgb(254, 254, 254);
    border-radius: 20px;
}

footer{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
    color:rgb(23, 22, 70);
    text-align:center;
    background-color:rgb(192, 207, 231);
    border-radius: 20px;
    padding:20px;
}