body {
    font-family:monospace;
    line-height: 1.5;
    font-size: 1.2em;
    color:rgb(3, 29, 44);
}

header, h1{
    text-align:center;
}

.container {
    width: 90%;
    max-width: 1200px;
    min-width: 500px;
    margin: 20px auto;
    overflow: auto;
    border: 5px solid rgb(18, 82, 145);
    padding: 50px;
    text-align:center;
}
