header{
    background-color:rgb(163, 224, 151);
    color:rgb(255, 255, 255);
    border:#ffffff;
    text-align:left;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius:8px;
}

.container{
    margin: 25px;
}

img {
    width:auto;
    margin: 10px;
    border-radius:8px;
    float:left;
}

h2, p{
    color:rgb(90, 55, 31);
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    
}

.button {
    background-color:rgb(149, 115, 93);
    border:rgb(90, 55, 31);
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    padding:10px 24px;
}

.button:hover {
    background-color:rgb(90, 55, 31);
    color:#ffffff;
}

h3{
    color:rgb(149, 115, 93);
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    text-align:center;
    line-height: 50px;
}

h4{
    color:rgb(90, 55, 31);
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana,sans-serif;
    text-align:center;
}

footer{
    background-color:rgb(163, 224, 151);
    color:rgb(255, 255, 255);
    border:#ffffff;
    text-align:center;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius:8px;
}